* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: serif;
  display: flex;
  background-color: #181818;
  
  min-height: 100vh;
  overflow-x: hidden;
  place-items: center;
  flex-direction: column;
  justify-content: center;
}



    

    
.loading-screen {
        width: 200px;
        height: 200px;
        position: relative;
    }

    .loading-screen .rotating-circle {
        width: 100px;
        height: 100px;
        position: absolute;
        border-radius: 50%;
        animation: spin-animation 1.5s linear infinite;
    }

    .loading-screen .rotating-circle:nth-child(1) {
        top: 10px;
        left: 20px;
        border-left: 5px solid orange;
        filter: drop-shadow(0 0 2rem orange);
    }

    .loading-screen .rotating-circle:nth-child(2) {
        top: 10px;
        right: 20px;
        border-top: 5px solid white;
        filter: drop-shadow(0 0 2rem white);
    }

    .loading-screen .rotating-circle:nth-child(3) {
        bottom: 45px;
        left: 50px;
        border-right: 5px solid green;
        filter: drop-shadow(0 0 2rem green);
    }

    @keyframes spin-animation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    
    .glitch {
        position: absolute;
        top: 90%;
        left: 10%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        font-weight: 700;
        line-height: 1.2;
        color: #fff;
        letter-spacing: 5px;
        z-index: 1;
        animation: shift 1s ease-in-out infinite alternate;
    }

    .glitch:before,
    .glitch:after {
        display: block;
        content: attr(data-glitch);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.8;
    }

    .glitch:before {
        animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
        color: #8b00ff;
        z-index: -1;
    }

    .glitch:after {
        animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
        color: #00e571;
        z-index: -2;
    }

    @keyframes glitch {
        0% {
            transform: translate(0);
        }
        20% {
            transform: translate(-3px, 3px);
        }
        40% {
            transform: translate(-3px, -3px);
        }
        60% {
            transform: translate(3px, 3px);
        }
        80% {
            transform: translate(3px, -3px);
        }
        to {
            transform: translate(0);
        }
    }

    @keyframes shift {
        0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
            transform: skewX(0deg);
        }
        41% {
            transform: skewX(10deg);
        }
        42% {
            transform: skewX(-10deg);
        }
        59% {
            transform: skewX(40deg) skewY(10deg);
        }
        60% {
            transform: skewX(-40deg) skewY(-10deg);
        }
        63% {
            transform: skewX(10deg) skewY(-5deg);
        }
        70% {
            transform: skewX(-50deg) skewY(-20deg);
        }
        71% {
            transform: skewX(10deg) skewY(-10deg);
        }
    }
  

#gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#content {
  position: relative;
  z-index: 1;
  padding: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

#sidebar {
    position: fixed;
    top: 0;
    left: -300px; 
    width: 300px;
    height: 100%;
    background: transparent;
    color: white;
    transition: left 0.3s ease;
    z-index: 1000;
    padding: 80px 20px 20px;
    backdrop-filter: blur(30px);
}

#sidebar.active {
    left: 0;
}

#sidebar a {
    display: block;
    padding: 20px;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid cyan;
}

#sidebar a:hover {
   background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}


#menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 2em;
    color: white;
    z-index: 1001;
    cursor: pointer;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 999;
}

#overlay.active {
    visibility: visible;
    opacity: 1;
}


.circle {
    width: 300px;
    height: 300px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-left: 140px;
    margin-top: 20px;
    filter: drop-shadow(0 0 2rem cyan); 
    animation: Scale 1s ease forwards, multiGlow 70s infinite; 
    scale: 0; 
    animation-delay: 1s; 
}

@keyframes Scale {
    to {
        scale: 1;
    }
}

@keyframes multiGlow {
    0% {
        filter: drop-shadow(0 0 2rem cyan);
    }
    6.25% {
        filter: drop-shadow(0 0 2rem magenta);
    }
    12.5% {
        filter: drop-shadow(0 0 2rem yellow);
    }
    18.75% {
        filter: drop-shadow(0 0 2rem lime);
    }
    25% {
        filter: drop-shadow(0 0 2rem red);
    }
    31.25% {
        filter: drop-shadow(0 0 2rem blue);
    }
    37.5% {
        filter: drop-shadow(0 0 2rem orange);
    }
    43.75% {
        filter: drop-shadow(0 0 2rem purple);
    }
    50% {
        filter: drop-shadow(0 0 2rem pink);
    }
    56.25% {
        filter: drop-shadow(0 0 2rem lightblue);
    }
    62.5% {
        filter: drop-shadow(0 0 2rem lightgreen);
    }
    68.75% {
        filter: drop-shadow(0 0 2rem gold);
    }
    75% {
        filter: drop-shadow(0 0 2rem coral);
    }
    81.25% {
        filter: drop-shadow(0 0 2rem turquoise);
    }
    87.5% {
        filter: drop-shadow(0 0 2rem violet);
    }
    93.75% {
        filter: drop-shadow(0 0 2rem chartreuse);
    }
    100% {
        filter: drop-shadow(0 0 2rem cyan);
    }
}

.circle img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }



@keyframes Scale { 
    0% { 
        scale: 0; 
    } 
    100% { 
        scale: 1; 
    } 
}

.welcome-text {
    font-size: 26px;
    color: whitesmoke;
    animation: slideRight 2s ease forwards;
    position: relative;
    margin-left: 10px;
    margin-top: 55px;
  text-decoration: underline;
  text-decoration-color: greenyellow;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.MyName {
    font-size: 30px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 2s ease forwards;
    animation-delay: 0.7s;
    margin-left: 10px;
    margin-top: 20px;
    color: cyan;
}

.MyName span {
    color: whitesmoke;
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideLeft 2s ease forwards;
  animation-delay: calc(.2s * var(--i));
  color: whitesmoke;
  width: auto;
  height: auto;
  white-space: nowrap;
  font-size: 2.1em;
  margin-top: 33px;
  text-decoration: underline;
  text-decoration-color: cyan;
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#greeting-text {
    font-size: 17px;
    color: whitesmoke;
    margin-top: 20px;
    animation: slideLeft 2s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.about-me-content {
  font-size: 17px;
    color: whitesmoke;
    margin-top: 20px;
    animation: slideTop 2s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.skill-text {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideLeft 2s ease forwards;
  animation-delay: calc(.2s * var(--i));
  color: whitesmoke;
  width: auto;
  height: auto;
  white-space: nowrap;
  font-size: 2.1em;
  margin-top: 33px;
  text-decoration: underline;
  text-decoration-color: gold;
}

.Python-bars .bar {
    display: flex;
    align-items: center;
  margin-top: 20px;
    
}

.Python-bars .bar .info {
    flex: 1;
    display: flex;
    align-items: center;
  color: white;
}

.Python-bars .bar .info span {
    margin-left: 10px;
    font-size: 20px;
}

.Python-bars .bar .progess-line {
    position: sticky;
    width: 60%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.Python-bars .bar .progess-line span {
    display: block;
    height: 100%;
    background: purple;
    width: 0;
    animation: PyloadProgress 2s forwards;
  
}


@keyframes PyloadProgress {
    from { width: 0; }
    to { width: 94%;  }
}


.Java-bars .bar {
    display: flex;
    align-items: center;
  margin-top: 20px;
    
}

.Java-bars .bar .info {
    flex: 1;
    display: flex;
    align-items: center;
  color: white;
}

.Java-bars .bar .info span {
    margin-left: 10px;
    font-size: 20px;
}

.Java-bars .bar .progess-line {
    position: sticky;
    width: 60%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.Java-bars .bar .progess-line span {
    display: block;
    height: 100%;
    background: darkgreen;
    width: 0;
    animation: JavaloadProgress 2s forwards;
  
}

@keyframes JavaloadProgress {
    from { width: 0; }
    to { width: 74%;  }
}

.Html-bars .bar {
    display: flex;
    align-items: center;
  margin-top: 20px;
    
}

.Html-bars .bar .info {
    flex: 1;
    display: flex;
    align-items: center;
  color: white;
}

.Html-bars .bar .info span {
    margin-left: 10px;
    font-size: 20px;
}

.Html-bars .bar .progess-line {
    position: sticky;
    width: 60%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.Html-bars .bar .progess-line span {
    display: block;
    height: 100%;
    background: brown;
    width: 0;
    animation: HtmlloadProgress 2s forwards;
  
}

@keyframes HtmlloadProgress {
    from { width: 0; }
    to { width: 50%;  }
}

.Css-bars .bar {
    display: flex;
    align-items: center;
  margin-top: 20px;
    
}

.Css-bars .bar .info {
    flex: 1;
    display: flex;
    align-items: center;
  color: white;
}

.Css-bars .bar .info span {
    margin-left: 10px;
    font-size: 20px;
}

.Css-bars .bar .progess-line {
    position: sticky;
    width: 60%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.Css-bars .bar .progess-line span {
    display: block;
    height: 100%;
    background: mediumslateblue;
    width: 0;
    animation: CssloadProgress 2s forwards;
  
}

@keyframes CssloadProgress {
    from { width: 0; }
    to { width: 70%;  }
}

.github-stats-text {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideLeft 3s ease forwards;
  animation-delay: calc(.2s * var(--i));
  color: whitesmoke;
  width: auto;
  height: auto;
  white-space: nowrap;
  font-size: 2.1em;
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
  text-decoration-color: purple;
}

.github-stats {
  
  width: 90%;
  height: 24%;
  opacity: 1;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 20px;
  animation: Scale 2s ease forwards; 
    scale: 0; 
    animation-delay: 2s; 
}
  .Zgithub-stats {
  width: 90%;
  height: 24%;
  opacity: 1;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: -5px;
  animation: Scale 2s ease forwards; 
    scale: 0; 
    animation-delay: 2s; 
}

.visitors-text {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideLeft 3s ease forwards;
  animation-delay: calc(.2s * var(--i));
  color: whitesmoke;
  width: auto;
  height: auto;
  white-space: nowrap;
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
  text-decoration-color: purple;
}


.visitors {
  width: 44%;
  height: 4%;
  
  margin-left: 170px;
  
  animation: Scale 2s ease forwards; 
    scale: 0; 
    animation-delay: 2s; 
}

.most-lang {
  width: 60%;
  height: 20%;
  opacity: 1;
  border-radius: 10px;
  margin-left: 110px;
  margin-top: -5px;
  animation: Scale 2s ease forwards; 
    scale: 0; 
    animation-delay: 2s; 
}

.my-bots-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideLeft 3s ease forwards;
  animation-delay: calc(.2s * var(--i));
  color: whitesmoke;
  width: auto;
  height: auto;
  white-space: nowrap;
  font-size: 2.1em;
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
  text-decoration-color: pink;
}

.hero {
  display: inline-block;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-width: 400px;
  height: 400px;
  border-radius: 30px;
  overflow:hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  margin: 30px;
  margin-left: 60px;
  backdrop-filter: blur(5px);
    animation: Scale 2.7s ease forwards; 
    scale: 0; 
    animation-delay: 2s; 
}

.hero-profile-img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.hero-description-bk {
  background-image: linear-gradient(0deg , #3f5efb, #fc466b);
  border-radius: 30px;
  position: absolute;
  top: 55%;
  left: -5px;
  height: 65%;
  width: 108%;
  transform: skew(19deg, -9deg);
}

.second .hero-description-bk {
  background-image: linear-gradient(-20deg , #bb7413, #e7d25c)
}

.hero-logo {
  height: 80px;
  width: 80px;
  border-radius: 20px;
  background-color: transparent;
  position: absolute;
  bottom: 30%;
  left: 30px;
  overflow:hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}

.hero-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-description {
  position: absolute;
  color: #fff;
  font-size: 12px;
  left: 150px;
  bottom: 26%;
}

.hero-btn {
  position: absolute;
  color: #fff;
  left: 13px;
  bottom: 6%;
  
}

.hero-btn a {
  display: inline-block;
    padding: 12px 14px;
    background: transparent;
    border-radius: 16px;
    color: #2dd9fe;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px cyan, 0 0 10px cyan;
    transition: box-shadow 1s ease;
}

.hero-btn a:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
  background: cyan;
  color: black;
  
}

.repo-btn {
  position: absolute;
  color: #fff;
  right: 13px;
  bottom: 6%;
  
}

.repo-btn a {
  display: inline-block;
    padding: 12px 14px;
    background: transparent;
    border-radius: 16px;
    color: #2dd9fe;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
  box-shadow: 0 0 5px cyan, 0 0 10px cyan;
    transition: box-shadow 1s ease;
}

.repo-btn a:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
  background: cyan;
  color: black;
}

.hero-date {
  position: absolute;
  color: #fff;
  left: 30px;
  bottom: 21%;
  left: 3%;
  font-size: 14px;
}


.contact-me-text {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideLeft 4s ease forwards;
  animation-delay: calc(.2s * var(--i));
  color: whitesmoke;
  width: auto;
  height: auto;
  white-space: nowrap;
  font-size: 2.3em;
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
  text-decoration-color: green;
  
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid cyan;
    border-radius: 50%;
    font-size: 20px;
    color: cyan;
    text-decoration: none;
    margin: 0 15px;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 3s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background-color: cyan;
    color: black;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}



.firefly {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 90s alternate infinite;
  pointer-events: none;
}
.firefly::before, .firefly::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  transform-origin: -10vw;
}
.firefly::before {
  background: cyan;
  opacity: 0.6;
  animation: drift ease alternate infinite;
}
.firefly::after {
  background: white;
  opacity: 0;
  box-shadow: 0 0 0vw 0vw yellow;
  animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
  animation-name: move1;
}
.firefly:nth-child(1)::before {
  animation-duration: 10s;
}
.firefly:nth-child(1)::after {
  animation-duration: 13s, 106ms;
  animation-delay: 0ms, 57ms;
}

@keyframes move1 {
  0% {
    transform: translateX(45vw) translateY(42vh) scale(0.31);
  }
  3.7037037037% {
    transform: translateX(-9vw) translateY(37vh) scale(0.39);
  }
  7.4074074074% {
    transform: translateX(-34vw) translateY(-31vh) scale(0.56);
  }
  11.1111111111% {
    transform: translateX(48vw) translateY(-34vh) scale(0.77);
  }
  14.8148148148% {
    transform: translateX(38vw) translateY(33vh) scale(0.51);
  }
  18.5185185185% {
    transform: translateX(-41vw) translateY(28vh) scale(0.72);
  }
  22.2222222222% {
    transform: translateX(48vw) translateY(-19vh) scale(0.44);
  }
  25.9259259259% {
    transform: translateX(-48vw) translateY(-29vh) scale(0.98);
  }
  29.6296296296% {
    transform: translateX(6vw) translateY(-35vh) scale(0.4);
  }
  33.3333333333% {
    transform: translateX(8vw) translateY(22vh) scale(0.58);
  }
  37.037037037% {
    transform: translateX(-14vw) translateY(40vh) scale(0.94);
  }
  40.7407407407% {
    transform: translateX(9vw) translateY(-46vh) scale(0.81);
  }
  44.4444444444% {
    transform: translateX(-42vw) translateY(-45vh) scale(0.57);
  }
  48.1481481481% {
    transform: translateX(11vw) translateY(-6vh) scale(0.74);
  }
  51.8518518519% {
    transform: translateX(35vw) translateY(-4vh) scale(0.83);
  }
  55.5555555556% {
    transform: translateX(-20vw) translateY(-35vh) scale(0.72);
  }
  59.2592592593% {
    transform: translateX(22vw) translateY(-12vh) scale(0.44);
  }
  62.962962963% {
    transform: translateX(24vw) translateY(25vh) scale(0.74);
  }
  66.6666666667% {
    transform: translateX(-13vw) translateY(-31vh) scale(0.35);
  }
  70.3703703704% {
    transform: translateX(48vw) translateY(16vh) scale(0.66);
  }
  74.0740740741% {
    transform: translateX(-16vw) translateY(-16vh) scale(0.43);
  }
  77.7777777778% {
    transform: translateX(-25vw) translateY(-20vh) scale(0.33);
  }
  81.4814814815% {
    transform: translateX(50vw) translateY(17vh) scale(1);
  }
  85.1851851852% {
    transform: translateX(-21vw) translateY(-11vh) scale(0.87);
  }
  88.8888888889% {
    transform: translateX(36vw) translateY(8vh) scale(0.72);
  }
  92.5925925926% {
    transform: translateX(-31vw) translateY(17vh) scale(0.3);
  }
  96.2962962963% {
    transform: translateX(-46vw) translateY(-17vh) scale(0.59);
  }
  100% {
    transform: translateX(-3vw) translateY(-2vh) scale(0.64);
  }
}
.firefly:nth-child(2) {
  animation-name: move2;
}
.firefly:nth-child(2)::before {
  animation-duration: 12s;
}
.firefly:nth-child(2)::after {
  animation-duration: 12s, 9466ms;
  animation-delay: 0ms, 2206ms;
}

@keyframes move2 {
  0% {
    transform: translateX(50vw) translateY(-6vh) scale(0.88);
  }
  4.1666666667% {
    transform: translateX(-9vw) translateY(-46vh) scale(0.44);
  }
  8.3333333333% {
    transform: translateX(-4vw) translateY(-21vh) scale(0.43);
  }
  12.5% {
    transform: translateX(30vw) translateY(46vh) scale(0.8);
  }
  16.6666666667% {
    transform: translateX(40vw) translateY(22vh) scale(0.83);
  }
  20.8333333333% {
    transform: translateX(37vw) translateY(-30vh) scale(0.8);
  }
  25% {
    transform: translateX(10vw) translateY(0vh) scale(0.42);
  }
  29.1666666667% {
    transform: translateX(-27vw) translateY(6vh) scale(0.53);
  }
  33.3333333333% {
    transform: translateX(47vw) translateY(45vh) scale(0.81);
  }
  37.5% {
    transform: translateX(-23vw) translateY(-37vh) scale(0.73);
  }
  41.6666666667% {
    transform: translateX(-24vw) translateY(-39vh) scale(0.73);
  }
  45.8333333333% {
    transform: translateX(2vw) translateY(25vh) scale(0.33);
  }
  50% {
    transform: translateX(5vw) translateY(36vh) scale(0.37);
  }
  54.1666666667% {
    transform: translateX(-19vw) translateY(43vh) scale(0.88);
  }
  58.3333333333% {
    transform: translateX(-19vw) translateY(16vh) scale(0.42);
  }
  62.5% {
    transform: translateX(36vw) translateY(-40vh) scale(0.9);
  }
  66.6666666667% {
    transform: translateX(-40vw) translateY(-45vh) scale(0.82);
  }
  70.8333333333% {
    transform: translateX(-47vw) translateY(-33vh) scale(0.3);
  }
  75% {
    transform: translateX(-13vw) translateY(18vh) scale(0.53);
  }
  79.1666666667% {
    transform: translateX(24vw) translateY(4vh) scale(0.63);
  }
  83.3333333333% {
    transform: translateX(-42vw) translateY(4vh) scale(0.78);
  }
  87.5% {
    transform: translateX(41vw) translateY(-38vh) scale(0.96);
  }
  91.6666666667% {
    transform: translateX(7vw) translateY(48vh) scale(0.96);
  }
  95.8333333333% {
    transform: translateX(-32vw) translateY(39vh) scale(0.88);
  }
  100% {
    transform: translateX(-41vw) translateY(-14vh) scale(0.74);
  }
}
.firefly:nth-child(3) {
  animation-name: move3;
}
.firefly:nth-child(3)::before {
  animation-duration: 12s;
}
.firefly:nth-child(3)::after {
  animation-duration: 12s, 5135ms;
  animation-delay: 0ms, 8459ms;
}

@keyframes move3 {
  0% {
    transform: translateX(38vw) translateY(-1vh) scale(0.64);
  }
  3.7037037037% {
    transform: translateX(-3vw) translateY(35vh) scale(0.74);
  }
  7.4074074074% {
    transform: translateX(46vw) translateY(27vh) scale(0.55);
  }
  11.1111111111% {
    transform: translateX(-40vw) translateY(-6vh) scale(0.45);
  }
  14.8148148148% {
    transform: translateX(6vw) translateY(-11vh) scale(1);
  }
  18.5185185185% {
    transform: translateX(31vw) translateY(-39vh) scale(0.33);
  }
  22.2222222222% {
    transform: translateX(-28vw) translateY(-38vh) scale(0.78);
  }
  25.9259259259% {
    transform: translateX(-41vw) translateY(28vh) scale(0.95);
  }
  29.6296296296% {
    transform: translateX(3vw) translateY(-10vh) scale(0.26);
  }
  33.3333333333% {
    transform: translateX(-19vw) translateY(-2vh) scale(0.73);
  }
  37.037037037% {
    transform: translateX(33vw) translateY(27vh) scale(0.87);
  }
  40.7407407407% {
    transform: translateX(18vw) translateY(15vh) scale(0.46);
  }
  44.4444444444% {
    transform: translateX(21vw) translateY(30vh) scale(0.27);
  }
  48.1481481481% {
    transform: translateX(15vw) translateY(-4vh) scale(0.28);
  }
  51.8518518519% {
    transform: translateX(22vw) translateY(11vh) scale(0.54);
  }
  55.5555555556% {
    transform: translateX(8vw) translateY(0vh) scale(0.98);
  }
  59.2592592593% {
    transform: translateX(8vw) translateY(-18vh) scale(0.61);
  }
  62.962962963% {
    transform: translateX(15vw) translateY(-8vh) scale(0.97);
  }
  66.6666666667% {
    transform: translateX(29vw) translateY(-31vh) scale(0.88);
  }
  70.3703703704% {
    transform: translateX(31vw) translateY(-30vh) scale(0.51);
  }
  74.0740740741% {
    transform: translateX(-28vw) translateY(-32vh) scale(0.97);
  }
  77.7777777778% {
    transform: translateX(-14vw) translateY(47vh) scale(0.58);
  }
  81.4814814815% {
    transform: translateX(39vw) translateY(27vh) scale(0.36);
  }
  85.1851851852% {
    transform: translateX(-8vw) translateY(18vh) scale(0.58);
  }
  88.8888888889% {
    transform: translateX(45vw) translateY(-22vh) scale(0.46);
  }
  92.5925925926% {
    transform: translateX(-37vw) translateY(21vh) scale(0.33);
  }
  96.2962962963% {
    transform: translateX(-36vw) translateY(-7vh) scale(0.33);
  }
  100% {
    transform: translateX(-6vw) translateY(28vh) scale(0.51);
  }
}
.firefly:nth-child(4) {
  animation-name: move4;
}
.firefly:nth-child(4)::before {
  animation-duration: 15s;
}
.firefly:nth-child(4)::after {
  animation-duration: 15s, 8748ms;
  animation-delay: 0ms, 1365ms;
}

@keyframes move4 {
  0% {
    transform: translateX(-39vw) translateY(-26vh) scale(0.61);
  }
  4.5454545455% {
    transform: translateX(-28vw) translateY(-16vh) scale(0.41);
  }
  9.0909090909% {
    transform: translateX(27vw) translateY(-37vh) scale(0.96);
  }
  13.6363636364% {
    transform: translateX(-7vw) translateY(-25vh) scale(0.54);
  }
  18.1818181818% {
    transform: translateX(47vw) translateY(8vh) scale(0.43);
  }
  22.7272727273% {
    transform: translateX(36vw) translateY(1vh) scale(1);
  }
  27.2727272727% {
    transform: translateX(-41vw) translateY(6vh) scale(0.7);
  }
  31.8181818182% {
    transform: translateX(-11vw) translateY(-26vh) scale(0.63);
  }
  36.3636363636% {
    transform: translateX(16vw) translateY(24vh) scale(0.81);
  }
  40.9090909091% {
    transform: translateX(28vw) translateY(39vh) scale(0.83);
  }
  45.4545454545% {
    transform: translateX(-26vw) translateY(-41vh) scale(0.46);
  }
  50% {
    transform: translateX(28vw) translateY(-16vh) scale(0.26);
  }
  54.5454545455% {
    transform: translateX(10vw) translateY(-19vh) scale(0.87);
  }
  59.0909090909% {
    transform: translateX(-9vw) translateY(-32vh) scale(0.53);
  }
  63.6363636364% {
    transform: translateX(-42vw) translateY(50vh) scale(0.55);
  }
  68.1818181818% {
    transform: translateX(-8vw) translateY(35vh) scale(0.71);
  }
  72.7272727273% {
    transform: translateX(-12vw) translateY(-44vh) scale(0.77);
  }
  77.2727272727% {
    transform: translateX(46vw) translateY(-28vh) scale(0.52);
  }
  81.8181818182% {
    transform: translateX(-11vw) translateY(-15vh) scale(0.66);
  }
  86.3636363636% {
    transform: translateX(7vw) translateY(45vh) scale(0.5);
  }
  90.9090909091% {
    transform: translateX(-19vw) translateY(43vh) scale(0.44);
  }
  95.4545454545% {
    transform: translateX(5vw) translateY(11vh) scale(0.73);
  }
  100% {
    transform: translateX(-34vw) translateY(-19vh) scale(0.77);
  }
}
.firefly:nth-child(5) {
  animation-name: move5;
}
.firefly:nth-child(5)::before {
  animation-duration: 15s;
}
.firefly:nth-child(5)::after {
  animation-duration: 15s, 8864ms;
  animation-delay: 0ms, 5207ms;
}

@keyframes move5 {
  0% {
    transform: translateX(14vw) translateY(41vh) scale(0.81);
  }
  3.8461538462% {
    transform: translateX(-7vw) translateY(17vh) scale(0.67);
  }
  7.6923076923% {
    transform: translateX(22vw) translateY(-36vh) scale(0.44);
  }
  11.5384615385% {
    transform: translateX(-13vw) translateY(7vh) scale(0.61);
  }
  15.3846153846% {
    transform: translateX(-3vw) translateY(-36vh) scale(0.66);
  }
  19.2307692308% {
    transform: translateX(17vw) translateY(24vh) scale(0.65);
  }
  23.0769230769% {
    transform: translateX(-37vw) translateY(-39vh) scale(0.48);
  }
  26.9230769231% {
    transform: translateX(-5vw) translateY(19vh) scale(0.39);
  }
  30.7692307692% {
    transform: translateX(-24vw) translateY(-44vh) scale(0.44);
  }
  34.6153846154% {
    transform: translateX(-30vw) translateY(-40vh) scale(0.87);
  }
  38.4615384615% {
    transform: translateX(-34vw) translateY(21vh) scale(0.91);
  }
  42.3076923077% {
    transform: translateX(-19vw) translateY(-20vh) scale(0.75);
  }
  46.1538461538% {
    transform: translateX(43vw) translateY(-45vh) scale(0.54);
  }
  50% {
    transform: translateX(-23vw) translateY(-41vh) scale(0.59);
  }
  53.8461538462% {
    transform: translateX(30vw) translateY(42vh) scale(0.77);
  }
  57.6923076923% {
    transform: translateX(18vw) translateY(34vh) scale(0.27);
  }
  61.5384615385% {
    transform: translateX(-33vw) translateY(-12vh) scale(0.94);
  }
  65.3846153846% {
    transform: translateX(18vw) translateY(-23vh) scale(0.9);
  }
  69.2307692308% {
    transform: translateX(-15vw) translateY(-49vh) scale(0.55);
  }
  73.0769230769% {
    transform: translateX(-7vw) translateY(-24vh) scale(0.93);
  }
  76.9230769231% {
    transform: translateX(14vw) translateY(27vh) scale(0.94);
  }
  80.7692307692% {
    transform: translateX(-22vw) translateY(-20vh) scale(0.47);
  }
  84.6153846154% {
    transform: translateX(-45vw) translateY(34vh) scale(0.48);
  }
  88.4615384615% {
    transform: translateX(14vw) translateY(-32vh) scale(0.29);
  }
  92.3076923077% {
    transform: translateX(20vw) translateY(41vh) scale(0.74);
  }
  96.1538461538% {
    transform: translateX(-35vw) translateY(44vh) scale(0.74);
  }
  100% {
    transform: translateX(3vw) translateY(-20vh) scale(0.72);
  }
}
.firefly:nth-child(6) {
  animation-name: move6;
}
.firefly:nth-child(6)::before {
  animation-duration: 16s;
}
.firefly:nth-child(6)::after {
  animation-duration: 16s, 8198ms;
  animation-delay: 0ms, 3618ms;
}

@keyframes move6 {
  0% {
    transform: translateX(-10vw) translateY(4vh) scale(0.65);
  }
  5.5555555556% {
    transform: translateX(43vw) translateY(-40vh) scale(0.47);
  }
  11.1111111111% {
    transform: translateX(-43vw) translateY(26vh) scale(0.44);
  }
  16.6666666667% {
    transform: translateX(-49vw) translateY(-45vh) scale(0.63);
  }
  22.2222222222% {
    transform: translateX(21vw) translateY(-44vh) scale(0.4);
  }
  27.7777777778% {
    transform: translateX(22vw) translateY(10vh) scale(0.57);
  }
  33.3333333333% {
    transform: translateX(-13vw) translateY(-28vh) scale(0.66);
  }
  38.8888888889% {
    transform: translateX(14vw) translateY(40vh) scale(0.42);
  }
  44.4444444444% {
    transform: translateX(-38vw) translateY(-9vh) scale(0.43);
  }
  50% {
    transform: translateX(-3vw) translateY(-25vh) scale(0.65);
  }
  55.5555555556% {
    transform: translateX(-7vw) translateY(-46vh) scale(1);
  }
  61.1111111111% {
    transform: translateX(-35vw) translateY(19vh) scale(0.61);
  }
  66.6666666667% {
    transform: translateX(-28vw) translateY(3vh) scale(0.42);
  }
  72.2222222222% {
    transform: translateX(-4vw) translateY(26vh) scale(0.78);
  }
  77.7777777778% {
    transform: translateX(17vw) translateY(45vh) scale(0.54);
  }
  83.3333333333% {
    transform: translateX(-1vw) translateY(26vh) scale(0.73);
  }
  88.8888888889% {
    transform: translateX(-7vw) translateY(-32vh) scale(0.62);
  }
  94.4444444444% {
    transform: translateX(-39vw) translateY(-31vh) scale(0.59);
  }
  100% {
    transform: translateX(2vw) translateY(10vh) scale(0.93);
  }
}
.firefly:nth-child(7) {
  animation-name: move7;
}
.firefly:nth-child(7)::before {
  animation-duration: 15s;
}
.firefly:nth-child(7)::after {
  animation-duration: 15s, 8258ms;
  animation-delay: 0ms, 7553ms;
}

@keyframes move7 {
  0% {
    transform: translateX(-31vw) translateY(4vh) scale(0.73);
  }
  3.8461538462% {
    transform: translateX(-17vw) translateY(-34vh) scale(0.46);
  }
  7.6923076923% {
    transform: translateX(8vw) translateY(1vh) scale(0.33);
  }
  11.5384615385% {
    transform: translateX(23vw) translateY(-13vh) scale(0.43);
  }
  15.3846153846% {
    transform: translateX(-37vw) translateY(24vh) scale(0.46);
  }
  19.2307692308% {
    transform: translateX(36vw) translateY(32vh) scale(0.89);
  }
  23.0769230769% {
    transform: translateX(23vw) translateY(-9vh) scale(0.49);
  }
  26.9230769231% {
    transform: translateX(-41vw) translateY(14vh) scale(0.27);
  }
  30.7692307692% {
    transform: translateX(9vw) translateY(23vh) scale(0.33);
  }
  34.6153846154% {
    transform: translateX(37vw) translateY(41vh) scale(0.63);
  }
  38.4615384615% {
    transform: translateX(-8vw) translateY(-26vh) scale(0.86);
  }
  42.3076923077% {
    transform: translateX(14vw) translateY(32vh) scale(0.73);
  }
  46.1538461538% {
    transform: translateX(-44vw) translateY(2vh) scale(0.79);
  }
  50% {
    transform: translateX(-1vw) translateY(49vh) scale(0.64);
  }
  53.8461538462% {
    transform: translateX(-14vw) translateY(21vh) scale(0.77);
  }
  57.6923076923% {
    transform: translateX(15vw) translateY(44vh) scale(0.66);
  }
  61.5384615385% {
    transform: translateX(-29vw) translateY(36vh) scale(0.84);
  }
  65.3846153846% {
    transform: translateX(43vw) translateY(-42vh) scale(0.31);
  }
  69.2307692308% {
    transform: translateX(3vw) translateY(13vh) scale(0.51);
  }
  73.0769230769% {
    transform: translateX(-17vw) translateY(35vh) scale(0.76);
  }
  76.9230769231% {
    transform: translateX(-13vw) translateY(16vh) scale(1);
  }
  80.7692307692% {
    transform: translateX(-16vw) translateY(26vh) scale(0.97);
  }
  84.6153846154% {
    transform: translateX(2vw) translateY(-16vh) scale(0.62);
  }
  88.4615384615% {
    transform: translateX(45vw) translateY(16vh) scale(0.96);
  }
  92.3076923077% {
    transform: translateX(44vw) translateY(13vh) scale(0.52);
  }
  96.1538461538% {
    transform: translateX(6vw) translateY(20vh) scale(0.71);
  }
  100% {
    transform: translateX(19vw) translateY(-42vh) scale(0.78);
  }
}
.firefly:nth-child(8) {
  animation-name: move8;
}
.firefly:nth-child(8)::before {
  animation-duration: 9s;
}
.firefly:nth-child(8)::after {
  animation-duration: 9s, 9356ms;
  animation-delay: 0ms, 2762ms;
}

@keyframes move8 {
  0% {
    transform: translateX(26vw) translateY(-27vh) scale(0.86);
  }
  5% {
    transform: translateX(-39vw) translateY(-11vh) scale(0.51);
  }
  10% {
    transform: translateX(-1vw) translateY(-11vh) scale(0.27);
  }
  15% {
    transform: translateX(-37vw) translateY(-8vh) scale(0.76);
  }
  20% {
    transform: translateX(-17vw) translateY(33vh) scale(0.74);
  }
  25% {
    transform: translateX(30vw) translateY(34vh) scale(0.41);
  }
  30% {
    transform: translateX(16vw) translateY(-4vh) scale(0.89);
  }
  35% {
    transform: translateX(-26vw) translateY(18vh) scale(0.42);
  }
  40% {
    transform: translateX(-5vw) translateY(-31vh) scale(0.83);
  }
  45% {
    transform: translateX(-42vw) translateY(-24vh) scale(0.57);
  }
  50% {
    transform: translateX(-11vw) translateY(-11vh) scale(0.69);
  }
  55% {
    transform: translateX(-45vw) translateY(2vh) scale(0.52);
  }
  60% {
    transform: translateX(5vw) translateY(44vh) scale(0.94);
  }
  65% {
    transform: translateX(2vw) translateY(44vh) scale(0.9);
  }
  70% {
    transform: translateX(-4vw) translateY(16vh) scale(0.85);
  }
  75% {
    transform: translateX(-34vw) translateY(-44vh) scale(0.85);
  }
  80% {
    transform: translateX(1vw) translateY(-39vh) scale(0.76);
  }
  85% {
    transform: translateX(-1vw) translateY(-26vh) scale(0.61);
  }
  90% {
    transform: translateX(-2vw) translateY(34vh) scale(0.32);
  }
  95% {
    transform: translateX(-18vw) translateY(-31vh) scale(0.53);
  }
  100% {
    transform: translateX(23vw) translateY(6vh) scale(0.57);
  }
}
.firefly:nth-child(9) {
  animation-name: move9;
}
.firefly:nth-child(9)::before {
  animation-duration: 18s;
}
.firefly:nth-child(9)::after {
  animation-duration: 18s, 5763ms;
  animation-delay: 0ms, 5186ms;
}

@keyframes move9 {
  0% {
    transform: translateX(-41vw) translateY(-20vh) scale(0.77);
  }
  5% {
    transform: translateX(12vw) translateY(-4vh) scale(1);
  }
  10% {
    transform: translateX(-22vw) translateY(-38vh) scale(0.45);
  }
  15% {
    transform: translateX(-11vw) translateY(-11vh) scale(0.79);
  }
  20% {
    transform: translateX(5vw) translateY(-18vh) scale(0.36);
  }
  25% {
    transform: translateX(38vw) translateY(1vh) scale(0.33);
  }
  30% {
    transform: translateX(-9vw) translateY(6vh) scale(0.34);
  }
  35% {
    transform: translateX(7vw) translateY(17vh) scale(0.39);
  }
  40% {
    transform: translateX(-37vw) translateY(-41vh) scale(0.62);
  }
  45% {
    transform: translateX(10vw) translateY(10vh) scale(0.55);
  }
  50% {
    transform: translateX(-17vw) translateY(23vh) scale(0.84);
  }
  55% {
    transform: translateX(-43vw) translateY(-10vh) scale(0.45);
  }
  60% {
    transform: translateX(4vw) translateY(-30vh) scale(0.28);
  }
  65% {
    transform: translateX(31vw) translateY(46vh) scale(0.42);
  }
  70% {
    transform: translateX(-41vw) translateY(26vh) scale(0.43);
  }
  75% {
    transform: translateX(-49vw) translateY(-34vh) scale(0.96);
  }
  80% {
    transform: translateX(33vw) translateY(33vh) scale(0.68);
  }
  85% {
    transform: translateX(9vw) translateY(-22vh) scale(0.62);
  }
  90% {
    transform: translateX(11vw) translateY(-44vh) scale(0.6);
  }
  95% {
    transform: translateX(-25vw) translateY(-20vh) scale(0.47);
  }
  100% {
    transform: translateX(13vw) translateY(-39vh) scale(0.4);
  }
}
.firefly:nth-child(10) {
  animation-name: move10;
}
.firefly:nth-child(10)::before {
  animation-duration: 18s;
}
.firefly:nth-child(10)::after {
  animation-duration: 18s, 7805ms;
  animation-delay: 0ms, 5102ms;
}

@keyframes move10 {
  0% {
    transform: translateX(27vw) translateY(-20vh) scale(0.76);
  }
  4.7619047619% {
    transform: translateX(-33vw) translateY(5vh) scale(1);
  }
  9.5238095238% {
    transform: translateX(-16vw) translateY(-44vh) scale(0.72);
  }
  14.2857142857% {
    transform: translateX(-24vw) translateY(-17vh) scale(0.47);
  }
  19.0476190476% {
    transform: translateX(-16vw) translateY(40vh) scale(0.42);
  }
  23.8095238095% {
    transform: translateX(-42vw) translateY(27vh) scale(0.48);
  }
  28.5714285714% {
    transform: translateX(17vw) translateY(3vh) scale(0.89);
  }
  33.3333333333% {
    transform: translateX(35vw) translateY(48vh) scale(0.3);
  }
  38.0952380952% {
    transform: translateX(-33vw) translateY(-12vh) scale(0.27);
  }
  42.8571428571% {
    transform: translateX(11vw) translateY(41vh) scale(0.88);
  }
  47.619047619% {
    transform: translateX(-28vw) translateY(-12vh) scale(0.87);
  }
  52.380952381% {
    transform: translateX(44vw) translateY(5vh) scale(0.28);
  }
  57.1428571429% {
    transform: translateX(33vw) translateY(-9vh) scale(0.29);
  }
  61.9047619048% {
    transform: translateX(28vw) translateY(32vh) scale(0.58);
  }
  66.6666666667% {
    transform: translateX(6vw) translateY(-36vh) scale(0.85);
  }
  71.4285714286% {
    transform: translateX(33vw) translateY(21vh) scale(0.53);
  }
  76.1904761905% {
    transform: translateX(-26vw) translateY(-38vh) scale(0.62);
  }
  80.9523809524% {
    transform: translateX(-13vw) translateY(39vh) scale(0.69);
  }
  85.7142857143% {
    transform: translateX(36vw) translateY(11vh) scale(0.65);
  }
  90.4761904762% {
    transform: translateX(28vw) translateY(-44vh) scale(0.65);
  }
  95.2380952381% {
    transform: translateX(37vw) translateY(-39vh) scale(0.62);
  }
  100% {
    transform: translateX(-41vw) translateY(38vh) scale(0.28);
  }
}
.firefly:nth-child(11) {
  animation-name: move11;
}
.firefly:nth-child(11)::before {
  animation-duration: 16s;
}
.firefly:nth-child(11)::after {
  animation-duration: 16s, 5479ms;
  animation-delay: 0ms, 7510ms;
}

@keyframes move11 {
  0% {
    transform: translateX(28vw) translateY(-44vh) scale(0.28);
  }
  5.5555555556% {
    transform: translateX(-39vw) translateY(34vh) scale(0.96);
  }
  11.1111111111% {
    transform: translateX(13vw) translateY(-38vh) scale(0.85);
  }
  16.6666666667% {
    transform: translateX(-35vw) translateY(40vh) scale(0.6);
  }
  22.2222222222% {
    transform: translateX(7vw) translateY(39vh) scale(0.88);
  }
  27.7777777778% {
    transform: translateX(18vw) translateY(-48vh) scale(0.77);
  }
  33.3333333333% {
    transform: translateX(35vw) translateY(-40vh) scale(0.67);
  }
  38.8888888889% {
    transform: translateX(49vw) translateY(-1vh) scale(0.29);
  }
  44.4444444444% {
    transform: translateX(-3vw) translateY(-5vh) scale(0.48);
  }
  50% {
    transform: translateX(-30vw) translateY(-16vh) scale(0.56);
  }
  55.5555555556% {
    transform: translateX(3vw) translateY(28vh) scale(0.26);
  }
  61.1111111111% {
    transform: translateX(-30vw) translateY(-2vh) scale(0.56);
  }
  66.6666666667% {
    transform: translateX(18vw) translateY(-3vh) scale(0.99);
  }
  72.2222222222% {
    transform: translateX(27vw) translateY(45vh) scale(0.91);
  }
  77.7777777778% {
    transform: translateX(50vw) translateY(-31vh) scale(0.33);
  }
  83.3333333333% {
    transform: translateX(-44vw) translateY(-42vh) scale(0.56);
  }
  88.8888888889% {
    transform: translateX(-26vw) translateY(2vh) scale(0.41);
  }
  94.4444444444% {
    transform: translateX(-24vw) translateY(-49vh) scale(0.75);
  }
  100% {
    transform: translateX(-49vw) translateY(-8vh) scale(0.34);
  }
}
.firefly:nth-child(12) {
  animation-name: move12;
}
.firefly:nth-child(12)::before {
  animation-duration: 10s;
}
.firefly:nth-child(12)::after {
  animation-duration: 10s, 8681ms;
  animation-delay: 0ms, 639ms;
}

@keyframes move12 {
  0% {
    transform: translateX(-17vw) translateY(28vh) scale(0.99);
  }
  5% {
    transform: translateX(-31vw) translateY(-6vh) scale(0.82);
  }
  10% {
    transform: translateX(1vw) translateY(-37vh) scale(0.26);
  }
  15% {
    transform: translateX(-38vw) translateY(27vh) scale(0.44);
  }
  20% {
    transform: translateX(-8vw) translateY(-25vh) scale(0.75);
  }
  25% {
    transform: translateX(-21vw) translateY(30vh) scale(0.47);
  }
  30% {
    transform: translateX(-23vw) translateY(-40vh) scale(0.64);
  }
  35% {
    transform: translateX(-3vw) translateY(-32vh) scale(0.44);
  }
  40% {
    transform: translateX(-17vw) translateY(30vh) scale(0.42);
  }
  45% {
    transform: translateX(13vw) translateY(-44vh) scale(0.66);
  }
  50% {
    transform: translateX(35vw) translateY(-17vh) scale(0.78);
  }
  55% {
    transform: translateX(46vw) translateY(-48vh) scale(0.44);
  }
  60% {
    transform: translateX(30vw) translateY(-49vh) scale(0.82);
  }
  65% {
    transform: translateX(-14vw) translateY(31vh) scale(0.39);
  }
  70% {
    transform: translateX(-30vw) translateY(6vh) scale(0.45);
  }
  75% {
    transform: translateX(-18vw) translateY(-44vh) scale(0.27);
  }
  80% {
    transform: translateX(-34vw) translateY(36vh) scale(0.67);
  }
  85% {
    transform: translateX(1vw) translateY(-34vh) scale(0.3);
  }
  90% {
    transform: translateX(-18vw) translateY(14vh) scale(0.82);
  }
  95% {
    transform: translateX(16vw) translateY(-30vh) scale(0.55);
  }
  100% {
    transform: translateX(42vw) translateY(24vh) scale(0.26);
  }
}
.firefly:nth-child(13) {
  animation-name: move13;
}
.firefly:nth-child(13)::before {
  animation-duration: 11s;
}
.firefly:nth-child(13)::after {
  animation-duration: 11s, 10009ms;
  animation-delay: 0ms, 7256ms;
}

@keyframes move13 {
  0% {
    transform: translateX(0vw) translateY(28vh) scale(0.93);
  }
  3.8461538462% {
    transform: translateX(39vw) translateY(20vh) scale(0.43);
  }
  7.6923076923% {
    transform: translateX(23vw) translateY(9vh) scale(0.37);
  }
  11.5384615385% {
    transform: translateX(47vw) translateY(-35vh) scale(0.74);
  }
  15.3846153846% {
    transform: translateX(2vw) translateY(-44vh) scale(0.38);
  }
  19.2307692308% {
    transform: translateX(-27vw) translateY(-39vh) scale(0.5);
  }
  23.0769230769% {
    transform: translateX(4vw) translateY(23vh) scale(0.82);
  }
  26.9230769231% {
    transform: translateX(-14vw) translateY(-22vh) scale(0.86);
  }
  30.7692307692% {
    transform: translateX(26vw) translateY(-26vh) scale(0.64);
  }
  34.6153846154% {
    transform: translateX(-12vw) translateY(-16vh) scale(0.91);
  }
  38.4615384615% {
    transform: translateX(41vw) translateY(4vh) scale(0.85);
  }
  42.3076923077% {
    transform: translateX(16vw) translateY(-36vh) scale(0.58);
  }
  46.1538461538% {
    transform: translateX(-47vw) translateY(42vh) scale(0.92);
  }
  50% {
    transform: translateX(-39vw) translateY(-19vh) scale(0.96);
  }
  53.8461538462% {
    transform: translateX(18vw) translateY(-11vh) scale(0.45);
  }
  57.6923076923% {
    transform: translateX(-4vw) translateY(38vh) scale(0.68);
  }
  61.5384615385% {
    transform: translateX(24vw) translateY(41vh) scale(0.91);
  }
  65.3846153846% {
    transform: translateX(29vw) translateY(-11vh) scale(0.81);
  }
  69.2307692308% {
    transform: translateX(-36vw) translateY(-10vh) scale(0.48);
  }
  73.0769230769% {
    transform: translateX(-13vw) translateY(-27vh) scale(0.5);
  }
  76.9230769231% {
    transform: translateX(18vw) translateY(-46vh) scale(0.55);
  }
  80.7692307692% {
    transform: translateX(48vw) translateY(42vh) scale(0.95);
  }
  84.6153846154% {
    transform: translateX(23vw) translateY(-29vh) scale(0.58);
  }
  88.4615384615% {
    transform: translateX(-49vw) translateY(27vh) scale(0.33);
  }
  92.3076923077% {
    transform: translateX(24vw) translateY(23vh) scale(0.3);
  }
  96.1538461538% {
    transform: translateX(6vw) translateY(-25vh) scale(0.51);
  }
  100% {
    transform: translateX(-28vw) translateY(29vh) scale(0.77);
  }
}
.firefly:nth-child(14) {
  animation-name: move14;
}
.firefly:nth-child(14)::before {
  animation-duration: 13s;
}
.firefly:nth-child(14)::after {
  animation-duration: 13s, 6456ms;
  animation-delay: 0ms, 6436ms;
}

@keyframes move14 {
  0% {
    transform: translateX(22vw) translateY(-2vh) scale(0.86);
  }
  5% {
    transform: translateX(-24vw) translateY(-30vh) scale(0.63);
  }
  10% {
    transform: translateX(8vw) translateY(-27vh) scale(0.68);
  }
  15% {
    transform: translateX(44vw) translateY(34vh) scale(0.89);
  }
  20% {
    transform: translateX(-25vw) translateY(-46vh) scale(0.78);
  }
  25% {
    transform: translateX(-38vw) translateY(23vh) scale(0.51);
  }
  30% {
    transform: translateX(-4vw) translateY(50vh) scale(0.87);
  }
  35% {
    transform: translateX(-36vw) translateY(-27vh) scale(0.92);
  }
  40% {
    transform: translateX(25vw) translateY(45vh) scale(0.87);
  }
  45% {
    transform: translateX(-9vw) translateY(-11vh) scale(0.69);
  }
  50% {
    transform: translateX(-15vw) translateY(2vh) scale(0.51);
  }
  55% {
    transform: translateX(15vw) translateY(-25vh) scale(0.34);
  }
  60% {
    transform: translateX(-16vw) translateY(13vh) scale(0.97);
  }
  65% {
    transform: translateX(17vw) translateY(-43vh) scale(0.55);
  }
  70% {
    transform: translateX(9vw) translateY(34vh) scale(0.65);
  }
  75% {
    transform: translateX(20vw) translateY(-1vh) scale(0.47);
  }
  80% {
    transform: translateX(-20vw) translateY(-12vh) scale(0.68);
  }
  85% {
    transform: translateX(31vw) translateY(-5vh) scale(0.26);
  }
  90% {
    transform: translateX(42vw) translateY(-3vh) scale(0.99);
  }
  95% {
    transform: translateX(41vw) translateY(-45vh) scale(0.71);
  }
  100% {
    transform: translateX(-41vw) translateY(-8vh) scale(0.83);
  }
}
.firefly:nth-child(15) {
  animation-name: move15;
}
.firefly:nth-child(15)::before {
  animation-duration: 9s;
}
.firefly:nth-child(15)::after {
  animation-duration: 9s, 6831ms;
  animation-delay: 0ms, 4617ms;
}

@keyframes move15 {
  0% {
    transform: translateX(-3vw) translateY(33vh) scale(0.95);
  }
  5% {
    transform: translateX(21vw) translateY(5vh) scale(0.64);
  }
  10% {
    transform: translateX(-5vw) translateY(-15vh) scale(0.47);
  }
  15% {
    transform: translateX(-6vw) translateY(-44vh) scale(0.89);
  }
  20% {
    transform: translateX(-31vw) translateY(12vh) scale(0.61);
  }
  25% {
    transform: translateX(24vw) translateY(-34vh) scale(0.44);
  }
  30% {
    transform: translateX(-33vw) translateY(-41vh) scale(0.64);
  }
  35% {
    transform: translateX(16vw) translateY(9vh) scale(0.97);
  }
  40% {
    transform: translateX(29vw) translateY(-19vh) scale(0.71);
  }
  45% {
    transform: translateX(29vw) translateY(35vh) scale(0.42);
  }
  50% {
    transform: translateX(15vw) translateY(-9vh) scale(0.69);
  }
  55% {
    transform: translateX(-6vw) translateY(-6vh) scale(0.44);
  }
  60% {
    transform: translateX(-12vw) translateY(9vh) scale(0.92);
  }
  65% {
    transform: translateX(31vw) translateY(8vh) scale(0.62);
  }
  70% {
    transform: translateX(-10vw) translateY(47vh) scale(0.75);
  }
  75% {
    transform: translateX(46vw) translateY(-28vh) scale(0.3);
  }
  80% {
    transform: translateX(0vw) translateY(-27vh) scale(0.9);
  }
  85% {
    transform: translateX(32vw) translateY(48vh) scale(0.34);
  }
  90% {
    transform: translateX(-41vw) translateY(-44vh) scale(0.98);
  }
  95% {
    transform: translateX(29vw) translateY(6vh) scale(0.3);
  }
  100% {
    transform: translateX(-33vw) translateY(0vh) scale(0.79);
  }
}
@keyframes drift {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0%, 30%, 100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw cyan;
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw cyan;
  }
}



